$primary-color: #286090;
$success-color: #449d44;
$info-color: #31b0d5;
$warning-color: #ec971f;
$danger-color: #c9302c;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.btn {
  padding: 10px;
  font-size: 14px;
  @include border-radius(4px);
  
  &-primary {
    @extend .btn;
    background: $primary-color;
  }
  &-success {
    @extend .btn;
    background: $success-color;
  }
  &-info {
    @extend .btn;
    background: $info-color;
  }
  &-warning {
    @extend .btn;
    background: $warning-color;
  }
  &-danger {
    @extend .btn;
    background: $danger-color;
  }
  &-danger-light {
    @extend .btn;
    background: $danger-color * 2;
  }
  &-danger-dark {
    @extend .btn;
    background: $danger-color * 0.5;
  }
}

