.btn-primary {
  background: #286090;
}

.btn-success {
  background: #449d44;
}

.btn-info {
  background: #31b0d5;
}

.btn-warning {
  background: #ec971f;
}

.btn-danger {
  background: #c9302c;
}
